<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="com.bailu.mybatis.mapper.country.CountryMapper">

    <select id="selectAll" resultType="com.bailu.mybatis.model.country.Country">
        select id,code,name from country
    </select>

</mapper>